body{
    background-color: rgb(138, 15, 138);
    color: aliceblue;
}

.conteneor{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px; /* Ajusta según necesidades */
    background-color: rgb(226, 209, 189);

}

.container {
    width: 50%;
    margin: 0 auto;
    padding-top: 50px; /* Ajusta según necesidades */
}

a {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #ff69b4; /* Color rosa */
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #ffb6c1; /* Color rosa claro al pasar el mouse */
}

.link1 {
    background-color: #ffe4e1; /* Color rosa claro para el primer enlace */
}

.link2 {
    background-color: #ffb6c1; /* Color rosa medio para el segundo enlace */
}

.link3 {
    background-color: #997386; /* Color rosa oscuro para el tercer enlace */
}
@media screen  and (max-width:1200px){
    body{
        background-color: rgb(182, 150, 182);
        color: rgb(227, 227, 235);
    }
    .titulo{
        font-size: 30px;
    }
}
@media screen and (max-width:500px) {
    body{
        background-color: rgb(107, 72, 98);
        color: rgb(240, 241, 236);
    }
    .titulo{
        font-size: 25px;
    }
    .img{
        width: 70%;
    }
}

@media screen and (max-width:300) {
    body{
        background-color: rgb(212, 159, 214);
        color: rgb(23, 23, 24);
    }
    .titulo{
        font-size:20px;
    }
    .img{
        width: 60%;
    }
}
@media screen and (max-width:200){
    body{
        background-color: rgb(73, 40, 104);
        color: rgb(239, 238, 240);
    }
    .titulo{
        font-size: 15px;
    }
    .img{
        width: 50%;
    }
}